# Flutter
# See https://dart.dev/guides/libraries/private-files
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.idea/
.vscode/
build/
ios/Pods/
macos/Pods/
pubspec.lock
*.iml
*.ipr
*.iws
*.log
*.swp
*.DS_Store
.gradle/
android/.gradle/
.metadata
Generated.xcconfig
**/*.keystore
**/*.jks
**/key.properties
!/android/app/src/**/key.properties
!/android/app/**/debug.keystore
coverage/
.scannerwork/
